.row {
  color: white;
  margin-left: 20px;
  cursor: pointer;
  &_posters {
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 22px;
    .row_poster {
      display: block;
      max-height: 190px;
      object-fit: contain;
      transition: transform 450ms;
      width: 100%;
      &:hover {
        transform: scale(1.08);
        opacity: 1;
      }
    }
  }
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_posterLage {
  max-height: 350px;
  &:hover {
    transform: scale(1.09);
    opacity: 1;
  }
}

.row_related {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 6px;
  .wrap-row_related {
    width: 30%;
    background-color: rgb(47, 47, 47);
    margin-right: 20px;
    padding: 0;
    height: 270px;
    overflow: hidden;
    margin-top: 20px;
    .row_related_img {
      display: block;
      width: 100%;
      height: fit-content;
    }
  }
}
.related-info {
  padding: 10px;
  h6 {
    opacity: 0.6;

    &:first-child {
      color: rgb(121, 248, 118);
      margin-bottom: 1px;
      font-size: 12px;
    }
  }
}
.slick-list {
  height: 150px;
  .slick-track {
    .slick-slide {
      div {
        margin-right: 9px;
      }
    }
  }
}

@media only screen and (max-width: 786px) {
  .wrap-row_related {
    height: 100px !important;
  }
  .related-info {
    h6:nth-child(2) {
      display: none;
    }
  }
}

@media only screen and (max-width: 650px) {
  h2 {
    display: none;
  }
  .row_related {
    display: none;
  }
}
